.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  width: 100%;
  background-color: #b62b2b;
  padding-top: 50px;

  &__flex {
    //background-color: aqua;
    height: 200px;
    width: 400px;
    min-width: 200px;
    margin: 0 auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
      

    &__list {
      color: white;
      font-size: 20 px;
      list-style-type: none;
      text-align: center;
      
    

      h4 {
        font-size: 22px;
        font-weight: 100;
      }
      li {
        line-height: 2;
        
        span {
          font-style: bold;
          color: rgb(53, 189, 71);
        }
      }
    }
  }
}
